
.container {
    position: relative;
    width:60%;
    max-height: fit-content;
    margin-top: 12%;
    padding: 30px;
    background-color: lightsteelblue;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    margin-bottom: 20px;
    
}


h1 {
    color: #333;
    font-size: 3.5em;
    margin-bottom: 30px;
    margin-left: 20px;
}
.profile-info {
    margin-bottom: 50px;
}
.profile-info h2 {
    color: #555;
    font-size: 2.5em;
    margin-bottom: 20px;
    margin-left: 15px;
}


.profile-info-item {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-info-item label {
    font-weight: bold;
    font-size: 1.5em;
}
.profile-info-item span {
    font-weight:lighter;
    font-size: 1.5em;
    margin-left: 30px;
}

.edit_button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.edit-btn {
    padding: 6px 12px;
    font-size: 2em;
    border-radius: 4px;
    background-color: #426488;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #2c435d;
}

.edit-btn a {
    color: white;
    text-decoration: none;
}


.close-btn{
    position: relative;
    margin-top: 30px;
    text-align: center;
}
.close-btn a{
    background-color: #215b99;
    color: white;
    font-size: larger;
    padding:  10px 20px;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.close-btn a:hover {
    background-color: #00346b;
}


.title-form {
    text-align: center;
    color: #333;
    font-size: 1.9em;
    margin-bottom: 30px;
    
}

.container form {
    display: flex;
    flex-direction: column;
}
.container label {
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
    font-size: 1.5em;
}

.container input[type="number"],
input[type="email"],
input[type="password"]{
    width: 95%;
    padding: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 4px;
    background: transparent;
    font-size: 1em;
}

.container input[type="submit"] {
    background-color: rgb(48, 136, 48);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.5em;
    width: 40%;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: background-color 0.3s;
}
input[type="submit"]:hover {
    background-color: darkgreen;
}
















.edit_profile h2 {
    color: #555;
    font-size: 2em;
    margin-bottom: 20px;
}

.edit_profile_item {
    margin-bottom: 15px;
}

.edit_profile_item input {
    padding: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background: transparent;
}

.btnEdit {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    margin-left: 20px;
}

.btnEdit:hover {
    background-color: darkgreen;
}

